body{
    background-color: teal;
    text-justify: auto;
    
}
main{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    text-justify: 10px;
    color: black;
    width: 700px;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(233, 233, 241);
}
article{
    text-align: center;
}